<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haha01haha01.harail"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".DatabaseDownloader"
            android:exported="false" />

        <activity
            android:name=".DisplayRouteActivity"
            android:label="@string/title_activity_display_route"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haha01haha01.harail.MainActivity" />
        </activity>
        <activity
            android:name=".allRoutesListActivity"
            android:label="@string/title_all_routes_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haha01haha01.harail.MainActivity" />
        </activity>
        <activity
            android:name=".routeListActivity"
            android:label="@string/title_route_list"
            android:parentActivityName=".allRoutesListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haha01haha01.harail.allRoutesListActivity" />
        </activity>
        <activity
            android:name=".routeDetailActivity"
            android:label="@string/title_route_detail"
            android:parentActivityName=".routeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haha01haha01.harail.routeListActivity" />
        </activity>
    </application>

</manifest>
